@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background:  0 0% 100%; /* White background */
    --foreground: 217.2 32.6% 17.5%;  /* Dark blue text */
    --card:  0 0% 100%;  /* Light blue for card */
    --card-foreground: black; /* White text */
    --popover: 0 0% 100%; /* White background */
    --popover-foreground: 217.2 32.6% 17.5%;  /* Dark blue text */
    --primary: 0 0% 100%; /* Light blue */
    --primary-foreground: 208 72% 45%; /* White text */
    --secondary: 210 40% 96.1%; /* Light blue */
    --secondary-foreground: 0 0% 100%; /* White text */
    --muted: 210 40% 96.1%; /* Light blue */
    --muted-foreground:  217.2 32.6% 50%; /* Dark blue text */
    --accent: 210 40% 96.1%; /* Light blue */
    --accent-foreground: 217.2 32.6% 17.5%; /* Dark blue text */
    --destructive: 0 84.2% 60.2%; /* Red */
    --destructive-foreground: 0 0% 100%; /* White text */
    --border: 210 40% 96.1%;   /* Light blue */
    --input: 210 40% 96.1%;  /* Light blue */
    --ring:  208 72% 45%;   /* Light blue */
    --radius: 0.5rem;
  }

  label{
      color: white;
  }

  .dark {
    --background: 208 72% 45%; /* Blue-500 to blue-900 gradient */
    --foreground: 0 0% 100%; /* White text */
    --card: 208 72% 45%; /* Blue-500 to blue-900 gradient */
    --card-foreground: 0 0% 100%; /* White text */
    --popover: 208 72% 45%; /* Blue-500 to blue-900 gradient */
    --popover-foreground: 0 0% 100%; /* White text */
    --primary: 217.2 91.2% 59.8%; /* Light blue */
    --primary-foreground: 0 0% 100%; /* White text */
    --secondary: 217.2 32.6% 17.5%; /* Dark blue */
    --secondary-foreground: 0 0% 100%; /* White text */
    --muted: 217.2 32.6% 17.5%; /* Dark blue */
    --muted-foreground: 0 0% 100%; /* White text */
    --accent: 217.2 32.6% 17.5%; /* Dark blue */
    --accent-foreground: 0 0% 100%; /* White text */
    --destructive: 0 62.8% 30.6%; /* Red */
    --destructive-foreground: 0 0% 100%; /* White text */
    --border: 217.2 32.6% 17.5%; /* Dark blue */
    --input: 217.2 32.6% 17.5%; /* Dark blue */
    --ring: 224.3 76.3% 48%; /* Light blue */
  }
}
